/*page*/
.dogo-page {height:auto;}



/*header
.dogo-header .navbar{background-image: -webkit-linear-gradient(top,#343742 0,#343742 100%);
background-image: linear-gradient(to bottom,#343742 0,#343742 100%);box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);}
*/
.dogo-header .dogo-header-navbar{
    background: rgba(250, 13, 13, 0.75);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2F323A', endColorstr='rgba(0, 0, 0, 0.69)', GradientType=0);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border: inset 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.8);
    box-shadow: 0 0 1px rgba(255,255,255,0.8);
}
.dogo-header .dogo-header-navbar a,.dogo-header .dogo-header-navbar .navbar-nav>li>a{color: #fff;text-shadow: 0 1px 0 rgba(255,255,255,.25);}
.dogo-header-navbar a:hover,.dogo-header-navbar .navbar-nav>li>a:hover,.dogo-header-navbar .navbar-nav>li>a:focus{color: #fff;}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus{background: rgba(255, 255, 255, 1);color: #000;}
.dropdown-menu {background: rgba(255, 255, 255, 0.69);}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.95);
    background-color: transparent;
}

.dogo-header ul.dropdown-menu>li>a{color: #000;}
.dogo-box-bg{height: auto;margin: 80px 0 20px 0;}

.dogo-bg{background: #333;background: url('../images/transparent.png') repeat;}

.dogo-test-input{margin: 10px;padding-top: 15px;color: #fff;}
.dogo-test-input .dogo-test4{background: rgba(24, 20, 20, 0.23);color: #fff;border: 1px solid #fff;

}
.dogo-border-search{margin: 10px;border: 1px solid #fff;
                    -webkit-border-radius: 4px 4px 4px 4px;
                    -moz-border-radius: 4px 4px 4px 4px;
                    -o-border-radius: 4px 4px 4px 4px;
                    border-radius: 4px 4px 4px 4px;
                    color: #fff;
                    padding: 10px;
}
.dogo-border-search ul{}
.dogo-border-search li{line-height: 25px;}
.dogo-border-search li a{color: #fff;display: block;}
.dogo-border-search li a:hover{}



.bxslider li img{height: 400px;}




.dogo-index-row{height:auto;}
.dogo-index-row :hover .dogo-index-thumb {}

.dogo-index-thumb{ overflow: hidden;height: 300px;}
.dogo-index-thumb{border-radius: 5px;border: 8px solid rgba(53, 53, 53, 0.14);
                  margin: 10px 0px;background: #fff;}
.dogo-index-thumb img{width: auto;}

.dogo-index-thumb .dogo-thumb-pic{height: 250px;cursor: pointer;}
.dogo-index-thumb .dogo-thumb-title{
    height: 300px;
    background: rgba(250,250,250,0.9);
    -webkit-transform: rotate(0deg) translate(0px,0px);
    -moz-transform: rotate(0deg) translate(0px,0px);
    -o-transform: rotate(0deg) translate(0px,0px);
    transform: rotate(0deg) translate(0px,0px);
    -webkit-transition:all 1s ease-in-out .5s;
    -moz-transition: all 1s ease-in-out .5s;
    -o-transition:all 1s ease-in-out .5s;
    transition:all 1s ease-in-out .5s;

}
.dogo-index-thumb .dogo-thumb-title h4{height: 55px;line-height: 65px;}
.dogo-index-thumb .dogo-thumb-title p{height: 160px;overflow: hidden;}
.dogo-index-thumb .dogo-thumb-title span a{
    height: 30px;display: block;
    border: 1px solid #F1A5A2;
    border-radius: 5px;
    margin: 5px;line-height: 30px;cursor: pointer;
    background: rgba(250,250,250,0.3);
}
.dogo-index-thumb:hover .dogo-thumb-title{
    -webkit-transform: rotate(0deg) translate(0px,-250px);
    -moz-transform: rotate(0deg) translate(0px,-300px);
    -o-transform: rotate(0deg) translate(0px,-300px);
    transform: rotate(0deg) translate(0px,-300px);

    -webkit-transition:all 1s ease-in-out .5s;
    -moz-transition: all 1s ease-in-out .5s;
    -o-transition:all 1s ease-in-out .5s;
    transition:all 1s ease-in-out .5s;
}



.dogo-list-box{height: 300px;margin: 5px 0;background: rgba(255, 255, 255, 0.95);}
.dogo-list{margin-top: 80px;}




@media (min-width: 1200px){
    .container {width: 100%;}
}
@media(min-width:768px){

}
@media(max-width:768px){

}

@media(min-width:768px){

}
@media(max-width:768px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #FDF8F8;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
    }
    .dogo-list-box{height: auto;}
}



